body{
    background: rgb(63, 63, 151);
    color: white;
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
    text-align: center;  
}

h1{
    color: white; text-decoration: none;
}
h2{
    margin-top: 1%;
	font-size: 1.8em;
}

.titleForPage {
    margin: 0;
    padding: 1px;
}

.tab {
    padding-right: 13px;
    padding-left: 12px;
    border-right: 2px #31d2de solid;
}

#lastTab {
    padding-right: 13px;
    padding-left: 12px;
}

#submit {
    padding-right: 40px;
    padding-left: 18px;
}

a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
  
  a:active {
    text-decoration: none;
}

.Button {
	background-color:#7892c2;
	border-radius:12px;
	border:2px solid #31d2de;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Exo 2', sans-serif;;
	font-size:21px;
	padding:8px 37px;
	text-decoration:none;
    text-shadow:0px 0px 7px #283966;
}
.Button:hover {
	background-color:#0821c4;
}
.Button:active {
	position:relative;
	top:1px;
}

div {
    padding: 22px;
    margin: 17%;
    margin-top: 3%;
    border: ridge 4px #31d2de;
	background: #7892c2;
}

p {
    padding: 10px;
}

.promptUser {
    text-align: left;
    margin: 3% 0;
}

strong {
    text-decoration: underline;
    padding-right: 16px;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

#question {
    width: 62%;
    font: 400 13.3333px Arial;
    resize: none;
    vertical-align: bottom;
}

.submitButton {
	box-shadow:inset 0px -1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #31d2de 5%, #3f3f97 100%);
	background-color:#31d2de;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px 2px 0px #2b665e;
}
.submitButton:hover {
	background:linear-gradient(to bottom, #3f3f97 5%, #31d2de 100%);
	background-color:#3f3f97;
}
.submitButton:active {
	position:relative;
	top:1px;
}