body{
    background: rgb(63, 63, 151);
    color: white;
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
    text-align: center;  
}

.Button {
	background-color:#7892c2;
	border-radius:12px;
	border:2px solid #31d2de;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Exo 2', sans-serif;;
	font-size:21px;
	padding:8px 37px;
	text-decoration:none;
    text-shadow:0px 0px 7px #283966;
}
.Button:hover {
	background-color:#0821c4;
}
.Button:active {
	position:relative;
	top:1px;
}

div{
    padding: 8px;
}

p{
    padding: 10px;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

form {
    max-width: 700px;
    width: 80%;
    height: 370px;
    padding: 10px;
    background: #7892c2;
    border: 3px ridge #31d2de;
    /* border-radius: 2%; */
    margin: 0 auto;
}

.submitButton {
	box-shadow:inset 0px -1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #31d2de 5%, #3f3f97 100%);
	background-color:#31d2de;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px 2px 0px #2b665e;
}
.submitButton:hover {
	background:linear-gradient(to bottom, #3f3f97 5%, #31d2de 100%);
	background-color:#3f3f97;
}
.submitButton:active {
	position:relative;
	top:1px;
}
/* -------- Below is the CSS for clicking the h1 
to go to homepage */

h1{
    color: white; text-decoration: none;
    
}
a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }

/*----------------------------------------*/