body{
    background: rgb(63, 63, 151);
    color: white;
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
    text-align: center;  
}

h1{
    color: white; text-decoration: none;
}
h2{
	font-size: 1.8em;
}
a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
  
  a:active {
    text-decoration: none;
}

.Button {
	background-color:#7892c2;
	border-radius:12px;
	border:2px solid #31d2de;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Exo 2', sans-serif;;
	font-size:21px;
	padding:8px 37px;
	text-decoration:none;
    text-shadow:0px 0px 7px #283966;
}
.Button:hover {
	background-color:#0821c4;
}
.Button:active {
	position:relative;
	top:1px;
}

div{
    padding: 8px;
}

p{
    padding: 10px;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

form {
    max-width: 500px;
    width: 80%;
    height: 150px;
    padding: 10px;
    background: #7892c2;
    border: 3px ridge #31d2de;
    /* border-radius: 2%; */
    margin: 0 auto;
}

.submitButton {
	box-shadow:inset 0px -1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #31d2de 5%, #3f3f97 100%);
	background-color:#31d2de;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px 2px 0px #2b665e;
}
.submitButton:hover {
	background:linear-gradient(to bottom, #3f3f97 5%, #31d2de 100%);
	background-color:#3f3f97;
}
.submitButton:active {
	position:relative;
	top:1px;
}

.surveyIntro {
	text-align: left;
	margin: 0;
	letter-spacing : 1px;
}

#currentSurveys {
	/* text-align: center; */
	width: 40%;
	float: left;
	margin-left: 10%;
	margin-right: 5%;
	margin-bottom: 2.5%;
}

.currentSurvey {
	border-left: solid 4px #31d2de;
	background: #7892c2;
	margin-bottom: 1.5%;
	margin-top: 1.5%;
	
}
.currentSurvey:hover {
	border: ridge 5px #31d2de;
}

#newSurvey {
	width: 40%;
	margin-left: 55%;
	margin-top:4.5%;
	position: fixed;
}

#createSurveyButton {
	font-size: 30px;
}

strong {
	text-decoration: underline;
}

.codeMessage {
	margin: 0;
	padding: 0;
	font-size: 16px;
	opacity: 50%;
}

#helpUser {
	opacity: 50%;
    margin: 0;
    padding: 0;
    text-align: left;
    letter-spacing: 1px;
    padding-left: 1.5%;
}

h3 {
	text-align: left;
	padding-left: 1.5%;
}

#analytics {
	max-width: unset;
    width: unset;
    height: unset;
    padding: unset;
    background: unset;
    border: unset;
    border-radius: unset;
    margin: unset;
}