<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="FrontEnd-BSA">
    <title>BSA | Add Some Questions</title>
    <!-- Link to add questions script -->
    <script defer src="addQuestions.js"></script>
    <!-- Including a hosted copy of jQuery library for use in CSS and Javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <!--Links the css style sheet-->
    <link rel="stylesheet" type="text/css" href="addQuestions.css">
    <!-- Links font grabbed from google -->
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>

    
        <!-- Title header with business name, we can wrapped in an <a> tag to link to homepage -->
         <a href="homePage"><h1>Business Survey Analytics</h1></a>
         <!-- Two buttons that make up the navigation bar of the website when logged in-->
         <button onclick="window.location.href = 'homePage';" class = "Button">
             Logout
         </button>
         <button onclick="window.location.href = 'busOwn';"  class = "Button">
             Your Page
         </button>
         <hr>
 </header>
    <h2> 
        <p class="titleForPage">Add Questions</p> 
        <p class="titleForPage">to</p> 
        <p class="titleForPage"><%= addingToSurvey%></p> 
    </h2>
    <div>
        <form action="/addQuestions/addQuestion" method="POST">
            <p class="promptUser"> 
                <strong>What type of question:</strong> 
                <span class="tab"> <label for="agreeDisagree">Strongly Disagree to Strongly Agree</label>
                <input name="questionFormat" id="agreeDisagree"type="radio" value="AD" required> </span>
                <span class="tab"> <label for ="trueFalse">True or False</label>
                <input name="questionFormat" id="trueFalse"type="radio" value="TF"> </span>
                <span class="tab"> <label for="oneThroughTen">1 - 10</label>
                <input name="questionFormat" id="oneThroughTen"type="radio" value="OT"></span>
                <span id="lastTab"> <label for="yesNo">Yes or No</label>
                <input name="questionFormat" id="yesNo"type="radio" value="YN"></span>
            </p>
            
            <p class="promptUser">
                <label for="question"><strong>What's your question:</strong></label>
                <span id="submit"> <textarea id="question" name="question" placeholder="Question" maxlength="249" rows="2" required></textarea> </span>
                <!-- submit button will send form, add question to survey, and then redirect to the same page -->
                <input type="submit" class="submitButton" id = "addQuestion" value="Add">
            </p>
        </form>
        <!-- Button that will discontinue adding questions to survey, and will then reset addingToSurvey variable -->
        <form action="/addQuestions/finish" method="POST">
            <input type="submit" id="doneAdding"class = "submitButton" value="Click Here To Finish Adding Questions">
        </form>

    </div>



<script></script>

<!--Copyright footer-->
    <%-include ('./footer')  %>
    
</body>
</html>