<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="FrontEnd-BSA">
    <title>BSA | Add Some Questions</title>
    <!--Links the css style sheet-->
    <link rel="stylesheet" type="text/css" href="addQuestions.css">
    <!-- Links font grabbed from google -->
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <!-- Title header with business name, we can wrap this in an <a> tag to link to homepage -->
         <a href="busOwn"><h1>Business Survey Analytics</h1></a>
         <!-- Four buttons that make up the navigation bar of the website-->
         <button onclick="window.location.href = 'busOwn';" class = "Button">
             Home
         </button>
         <button onclick="window.location.href = 'createSurvey';" class = "Button">
             Take a Survey
         </button>
         <hr>
    </header>
 <h2>Add Questions</h2>



<!--Copyright footer-->
    <%-include ('./footer')  %>
    
</body>
</html>