<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="FrontEnd-BSA">
    <title>BSA | Analytics</title>
    <!-- Including a hosted copy of jQuery library for use in CSS and Javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <!--Links the css style sheet-->
    <link rel="stylesheet" type="text/css" href="analytics.css">
    <!-- Links font grabbed from google -->
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>    
        <!-- Title header with business name, we can wrapped in an <a> tag to link to homepage -->
         <a href="homePage"><h1>Business Survey Analytics</h1></a>
         <!-- Two buttons that make up the navigation bar of the website when logged in-->
         <button onclick="window.location.href = 'homePage';" class = "Button">
             Logout
         </button>
         <button onclick="window.location.href = 'busOwn';"  class = "Button">
             Your Page
         </button>
         <hr>
 </header>

 <h2>
    <p class="titleForPage">Analytics</p> 
    <p class="titleForPage">for</p> 
    <!-- Going to have javascript variable below -->
    <p class="titleForPage"> <%= analyticsSurveyName %> </p> 
</h2>

 <!--Copyright footer-->
 <%-include ('./footer')  %>
    
</body>
</html>