<!--This will be the page the business owner see when he/she first logs in to application-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="FrontEnd-BSA">
    <title>BSA | Owner Menu</title>
    <!-- Including a hosted copy of jQuery library for use in CSS and Javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
        <!--Links the css style sheet-->
        <link rel="stylesheet" type ="text/css" href="TakeSurvey.css">
        <!-- Links font grabbed from google -->
        <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap" rel="stylesheet">
       
</head>

<header>

    
       <!-- Title header with business name, we can wrap this in an <a> tag to link to homepage -->
        <a href="homePage"><h1>Business Survey Analytics</h1></a>
        <!-- Four buttons that make up the navigation bar of the website-->
        <button onclick="window.location.href = 'homePage';" class = "Button">
            Home
        </button>
        <!-- <button onclick="window.location.href = 'Login';"  class = "Button" >
            Login
        </button> -->
        <button onclick="window.location.href = 'TakeSurvey';"  class = "Button" >
            Take a Survey
        </button>
        <!-- <button onclick="window.location.href = 'registration';" class = "Button">
            New User
        </button> -->
        <hr>
</header>

<body>

    <!-- Javascript will make variable dynamic and equal to the company name -->
    <h2><%= companyName %></h2>

    <div class = "surveyBlocks" id = "currentSurveys">
        <!-- Display the current surveys this user has in this div
        IF no surveys, display "no surveys" (for this specific user)
        else display the survey names -->
        <!-- Below will be JS, specifically a loop for the template to print 
        out the list created in the controller from the database's survey list for
        the account -->
    <p id="surveyIntro">Here are your current surveys:</p>
    <div class = "currentSurvey">
        <p> <strong> Survey Title </strong> </p>
        <p> Quick description of survey </p>
    </div>
    <div class = "currentSurvey">
        <p> <strong> Survey Title </strong> </p>
        <p> Quick description of survey </p>
    </div>
    <div class = "currentSurvey">
        <p> <strong> Survey Title </strong> </p>
        <p> Quick description of survey </p>
    </div>
    <div class = "currentSurvey">
        <p> <strong> Survey Title </strong> </p>
        <p> Quick description of survey </p>
    </div>
    <div class = "currentSurvey">
        <p> <strong> Survey Title </strong> </p>
        <p> Quick description of survey </p>
    </div>
    <div class = "currentSurvey">
        <p> <strong> Survey Title </strong> </p>
        <p> Quick description of survey </p>
    </div>
    <!--  surveyList.forEach(function(survey) { 
        
      }); -->


    </div>

    <div class = "surveyBlocks" id = "newSurvey">
        <!-- button to take user to create a new survey page -->
        <button onclick="window.location.href = 'createSurvey';" class = "Button" id = "createSurveyButton">
            Create new Survey
        </button>
    </div>

    <!--Copyright footer-->
    <%-include ('./footer')  %> 

</body>

</html>
