<!--This will be the page the business owner see when he/she wants to create a new survey-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="FrontEnd-BSA">
    <title>BSA | Create a Survey</title>
        <!--Links the css style sheet-->
        <link rel="stylesheet" type ="text/css" href="createSurvey.css">
        <!-- Links font grabbed from google -->
        <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap" rel="stylesheet">
       
</head>

<header>

    
    <!-- Title header with business name, we can wrap this in an <a> tag to link to homepage -->
     <a href="homePage"><h1>Business Survey Analytics</h1></a>
     <!-- Four buttons that make up the navigation bar of the website-->
     <button onclick="window.location.href = 'homePage';" class = "Button">
         Logout
     </button>
     <!-- <button onclick="window.location.href = 'Login';"  class = "Button" >
         Login
     </button> -->
     <button onclick="window.location.href = 'busOwn';"  class = "Button">
         Your Page
     </button>
     <!-- <button onclick="window.location.href = 'registration';" class = "Button">
         New User
     </button> -->
     <hr>
</header>

<body>
    <h2>New Survey</h2>
    <form action="createSurvey/addSurvey" method="POST">
        <div>
            <label for="surveyTitle">
                Survey Title:
            </label>
            <p><input type="text" id="surveyTitle" name="surveyTitle" placeholder="Title" maxlength="29" required></p>
            <label for="surveyDescription">
                Survey Description:
            </label>
            <p id = "description"> <textarea id="surveyDescription" name="surveyDescription" placeholder="Description" maxlength="99" required></textarea> </p>
            <input type="submit" class = "submitButton" value="Next">
        </div>

    </form>

    <!--Copyright footer-->
    <%-include ('./footer')  %>

</body>

</html>
