<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Luis Corps">
    <title>BSA | Registration</title>
    <!--Links the css style sheet-->
    <link rel="stylesheet" href="registration.css">
    <!-- Links font grabbed from google -->
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Title header with business name, wrapped in <a> tag to link to homepage -->
        <a href="homePage"><h1>Business Survey Analytics</h1></a>
    <!-- Four buttons that make up the navigation bar of the website, s/o mike
    for figuring out how these buttons work-->
    <button onclick="window.location.href = 'homePage';" class = "Button">
        Home
    </button>
    <button onclick="window.location.href = 'Login';" class = "Button">
        Login
    </button>
    <button onclick="window.location.href = 'TakeSurvey';" class = "Button">
        Take a Survey
    </button>
    <!-- Apparently in the html world it's frowned upon to have a link on a page to itself
    so I have this button disbaled (it can't be clicked on), it's just here for 
    continuity -->
    <button class = "Button" disabled>
        New User
    </button>

    <hr>

    <h2>New User Registration</h2>

    <!-- Form will wrap all of these input elements into one package that we can eventually send to our server
    on the backend of things -->
    <!-- Most if not all fields are wrapped around <p> tags for spacing and <div> tags for styling later -->
    <form>
        <!-- Labels and inputs for name of user fields. Required field. -->
        <div>
            <label for="firstName" >First Name:</label>
            <input name="firstName" id="firstName" type="text" placeholder="Barry" required>
            <label for="lasttName">Last Name:</label>
            <input name="lastName" id="lastName" type="text" placeholder="Block" required> 
        </div>
        <!-- Label and input for company name field-->
        <p>
                <label for="company">Company Name:</label>
                <input name="companyName" id="companyName" type="text" placeholder="Company" required>
        </p>
        <!-- Label and input for email field. -->
        <p>
            <label for="email">Email:</label>
            <input name="email" id="email" type="email" placeholder="user@domain.com" required>         </p>
        <!-- Labels and input for T&C field to be fancy *OPTIONAL IF WE WANT* -->
        <p>
            I agree to the terms and conditions <input name="checkbox" type="checkbox">
        </p>
        <!-- Submit button/input will send all data to server when backends figured out.
        Value attribute gives the button a customizable name. -->
        <input class="submitButton" type="submit" value="Register">
    </form>
    
    <%-include ('./footer')  %>

</body>
</html>