<!--This page will actually display a given survey to someone taking the survey-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Mike Fogarty">
    <title>BSA | <%=obj%> </title> <!--Add Javascript here to show survey name!!-->
    <!--Links the css style sheet-->
    <link rel="stylesheet" type ="text/css" href="survey.css">
    <!-- Link to script -->
    <script defer src="survey.js"></script>
    <!-- Links font grabbed from google -->
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <h1><%= obj %></h1>
    
    <div class="questionBox">
        <div id="question-container" class = "hide">
            <div id="question">Question</div>
            <div id="answer-buttons" class="btn-grid">
                <button class="btn">Answer 1</button>
                <button class="btn">Answer 2</button>
            </div>
        </div>

        <div class = "controls">
            <button id="start-btn" class="start-btn btn">Start</button>
            <button id="next-btn" class="next-btn btn hide">Next</button>
            <!--Add Thank you button that redirects back to TakeSurvey.ejs-->
            <button id= "thank-btn" onclick="window.location.href = 'TakeSurvey';" class = "thank-btn btn hide">
                Thank You!
            </button>
        </div>
    </div>
    
    <%-include ('./footer')  %>
</body>
</html>