<html><body>
    <table border="1" cellpadding="7" cellspacing="7">
        <tr>
            <th width="50px">No.</th>
            <th>customer ID</th>
            <th>Survey Name</th>
        </tr>
        <% if (data.length) {
            for (var i = 0;i < data.length;i++) {%>
            <tr>
                <td><%=(i+1)%></td>
                <td><%=data[i].customer_ID%></td>
                <td><%=data[i].survey_name%></td>
            </tr>
        <% }
        }else { %>
        <tr>
            <td colspan="3">No questions</td>
        </tr>
    <% } %>
    </table>
</body></html>