<!--This page will actually display a given survey to someone taking the survey-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Mike Fogarty">
    <title>BSA | </title> <!--Add Javascript here to show survey name!!-->
    <!--Links the css style sheet-->
    <!-- <link rel="stylesheet" type ="text/css" href="TakeSurvey.css"> -->
    <!-- Links font grabbed from google -->
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    
</body>
</html>