<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="FrontEnd-BSA">
    <title>BSA | Waiting</title>
    <!-- Link to script -->
    <!-- Including a hosted copy of jQuery library for use in CSS and Javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <!--Links the css style sheet-->
    <link rel="stylesheet" type ="text/css" href="waiting.css">
    <!-- Links font grabbed from google -->
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap" rel="stylesheet">
       
</head>

<body>
    
    <!-- CREDIT FOR CODE GOES TO: Jon Kantner through https://freefrontend.com/css-loaders/ -->
    <div class="preloader">
        <div class="preloader__ring">
          <div class="preloader__sector">L</div>
          <div class="preloader__sector">o</div>
          <div class="preloader__sector">a</div>
          <div class="preloader__sector">d</div>
          <div class="preloader__sector">i</div>
          <div class="preloader__sector">n</div>
          <div class="preloader__sector">g</div>
          <div class="preloader__sector">.</div>
          <div class="preloader__sector">.</div>
          <div class="preloader__sector">.</div>
          <div class="preloader__sector"></div>
          <div class="preloader__sector"></div>
          <div class="preloader__sector"></div>
          <div class="preloader__sector"></div>
          <div class="preloader__sector"></div>
          <div class="preloader__sector"></div>
          <div class="preloader__sector"></div>
          <div class="preloader__sector"></div>
          <div class="preloader__sector"></div>
          <div class="preloader__sector"></div>
          <div class="preloader__sector"></div>
          <div class="preloader__sector"></div>
          <div class="preloader__sector"></div>
          <div class="preloader__sector"></div>
          <div class="preloader__sector"></div>
          <div class="preloader__sector"></div>
          <div class="preloader__sector"></div>
          <div class="preloader__sector"></div>
          <div class="preloader__sector"></div>
          <div class="preloader__sector"></div>
        </div>
        <div class="preloader__ring">
          <div class="preloader__sector">L</div>
          <div class="preloader__sector">o</div>
          <div class="preloader__sector">a</div>
          <div class="preloader__sector">d</div>
          <div class="preloader__sector">i</div>
          <div class="preloader__sector">n</div>
          <div class="preloader__sector">g</div>
          <div class="preloader__sector">.</div>
          <div class="preloader__sector">.</div>
          <div class="preloader__sector">.</div>
          <div class="preloader__sector"></div>
          <div class="preloader__sector"></div>
          <div class="preloader__sector"></div>
          <div class="preloader__sector"></div>
          <div class="preloader__sector"></div>
          <div class="preloader__sector"></div>
          <div class="preloader__sector"></div>
          <div class="preloader__sector"></div>
          <div class="preloader__sector"></div>
          <div class="preloader__sector"></div>
          <div class="preloader__sector"></div>
          <div class="preloader__sector"></div>
          <div class="preloader__sector"></div>
          <div class="preloader__sector"></div>
          <div class="preloader__sector"></div>
          <div class="preloader__sector"></div>
          <div class="preloader__sector"></div>
          <div class="preloader__sector"></div>
          <div class="preloader__sector"></div>
          <div class="preloader__sector"></div>
        </div>
      </div>
      <!-- END OF CREDIT -->


<script>
    var timer = setTimeout(function() {
        window.location='http://localhost:3000/analytics'
    }, 3000);
</script>

</body>
</html>

